/* COMP 3033 Final  Project: Calendar Web Application
   Authors: Cameron Burgoyne (162210b) and Kylie DeViller (162298d)
   Date: April 5th 2024 */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--mainBrown: #b29790;
	--buttonPink: #f6d0cd;
	--addEvent: #d2e7d6;
	--eventBeige1: #f5e6d3;
	--eventBeige2: #eed2c7;
	--eventBeige3: #edc8b3;
	--today: #d9eaf1;
	--highlight: #aec2cd;
}

body {
    margin-top: 50px;
    justify-content: center;
    background-color: #FFFCFF;
	font-family: 'Poppins' sans-serif;
}

aside {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-left: 15px;
	margin-left: 15px;
	background-color: var(--mainBrown);
	height: 753px;
	color: whitesmoke;
}

aside h4 {
	padding-top: 3%;
}

button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
#header {
    padding: 10px;
    color: var(--mainBrown);
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

#header button {
    background-color:#92a1d1;
}

#container {
    width: 770px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
	margin-left: 60px;
}
  
#weekdays ul li {
    width: 100px;
    padding: 10px;
	display: inline-block;
}

#calendar {
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  